# Env data
*.env*
!.env.example

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.venv/
venv/

# Data backups, exports & imports
db/data/*/*
!db/data/*/.gitkeep

# tmp dir
tmp/

# pre-commit caches
node_modules/
